.container-menuApresentacao {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(109, 117, 120, 1) 31%,
    rgba(34, 47, 51, 1) 65%,
    rgba(0, 0, 0, 1) 91%
  );
  color: #fff;
  padding: 2.9rem 5rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
}

.cabecalho h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 14px;
  text-align: center;
  margin-right: 1rem;
  color: #fff;
  text-shadow: 0.1em 0.1em #333;
}

.menu-navegação ul {
  display: flex;
  justify-content: flex-end;
}

.menu-navegação ul li a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  text-align: center;
  margin-right: 2rem;
  color: #fff;
  text-decoration: none;
  text-shadow: 0.1em 0.1em #333;
  padding: 1rem 0;
}

.menu-navegação ul li a:hover {
  transition: 0.7s;
  font-size: 1.3rem;
  color: rgb(226, 196, 121);
}

.secao-texto {
  margin-top: 1rem;
  padding: 4rem 2rem;
}

.secao-texto img {
  max-width: 100%;
  border-radius: 10px;
  margin-left: 1rem;
}

.secao-texto h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 19px;
  text-shadow: 0.1em 0.1em #333;
  margin-bottom: 1rem;
}

.secao-texto p {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em #333;
}

.container-gridTextoApresentacao {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1024px) {
  .container-menuApresentacao {
    padding: 3rem 1rem;
  }
  .cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .cabecalho h1 {
    font-size: 1rem;
  }

  .menu-navegação ul li a {
    font-size: 0.8rem;
  }

  .menu-navegação ul li a:hover {
    font-size: 1rem;
  }

  .secao-texto {
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  .secao-texto h1 {
    font-size: 1.2rem;
  }
  .secao-texto p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 428px) {
  .cabecalho {
    padding: 1rem;
  }
  .container-menuApresentacao {
    padding: 1rem;
  }
  .menu-navegação {
    display: none;
  }

  .secao-texto {
    padding: 0 2rem;
  }

  .secao-texto h1 {
    font-size: 1rem;
  }

  .secao-texto p {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .container-gridTextoApresentacao {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}
